/* imagenes */
.logo{
  max-width: 150px;
  margin-left: 30%;
  margin-bottom: -30px;
}
.poster{
  width: 120px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid white;
}
.poster1{
  width: 80%;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid grey;
  margin-left: 10%;
}

/*header*/
.header1{
  background-color: hsla(232, 86%, 47%, 0.72);
  border: 2px solid grey;
  min-height: 200px;
}
p{
  padding: 1%;
  text-align: justify;
}

/*cuerpo*/

.space{
  margin-top: 5px;
}
.space2{
  margin-right: 15px;
}
.portrait{
  background-color: hsla(232, 16%, 58%, 0.72);
}
.menu1{
  border: 2px solid hsla(360, 0%, 21%, 0.6);
}
.search1{
  width: 90% !important;
  border: 0px !important;

}
a{
  color: White !important;
}
@media only screen and (max-width: 600px){

  .hidden{
    visibility: collapse;
  }
}
